@using TheAthletic.models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutUs>
@using ContentModels = TheAthletic.models;
@{
	Layout = "master.cshtml";
	var model = Model;
}

 
<div class="about-us-container">
    <h1 class="animated-title">@Model.Title</h1>
    <div class="animated-bodytext">
        <p>@Model.Bodytextaboutus</p>
    </div>
</div>