@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactUs>
@using TheAthletic.models
@using Umbraco.Forms.Web
@using Umbraco.Extensions
@using ContentModels = TheAthletic.models;
@{
	Layout = "master.cshtml";
	var model = Model;
	var form = Model.ContactUsForm;
}
<div>
	<h1>@Model.ContactTitle</h1>
	<img src="@Model.ContactImage?.GetCropUrl()">
</div>
<div>
	@await Umbraco.RenderMacroAsync("renderUmbracoForm", new { FormGuid = form, FormTheme = "", ExcludeScripts = "1" })
</div>