@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = TheAthletic.models;
@{
    var content = (ContentModels.GalleryImages)Model.Content;

}

<h5>@content.ImageCaption</h5>
<img src="@content.GalleryImage?.GetCropUrl()">